# This is Git's per-user configuration file.
[user]
	name = JulienDeray
	email = julien.deray@imgarena.com
[pull]
	rebase = true
[rebase]
	autosquash = true
[sequence]
	editor = /Users/Dera83542/Dev-tools/macos-git-interactive-rebase-tool
[core]
	editor = vim
